<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Projects</title>
  </head>
  <body>
    {{> header}}
    <p>Here is a list of my projects:</p>
      <ol>
        <li><a href="https://tranquil-everglades-94212.herokuapp.com/">My First Heroku Deploy</a></li>
      </ol>
    {{> footer}}
  </body>
</html>
